<%- include('../layout')%>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="javascript:;">内容首页</a></li>
    <li class="active">内容删除</li>
  </ol>
  <h3>所属分类 - <%= result.category.name %></h3>

  <form method="post">
    <div class="form-group">
      <label>标题名称</label>
      <input type="text" class="form-control" name="title"  value="<%= result.title %>">
    </div>

    <button type="submit" class="btn btn-default">点击删除内容</button>
  </form>

</div>
