<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="HTML,CSS,JavaScript等">
  <meta name="ddescription" content="这是yzd的博客儿,超可爱">
  <meta name="author" content="YZhadan1128">
  <link rel="shortcut icon" href="/image/logo.png"/>
  <link rel="stylesheet" href="/css/util.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery-1.8.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <title>炸弹博客</title>
</head>
<body>
<header>
  <div class="center">
    <a class="head_logo" href="/">
      <img  src="/image/logo.png" alt="" />
    </a>
    <nav class="head_nav">
      <a href="/">首页</a>
      <% for(let i=0;i<categorys.length;i++){ %>
        <a href="/?category=<%= categorys[i]._id %>"><%= categorys[i].name %></a>
      <% } %>
    </nav>
  </div>
</header>


<div class="center banner">
  <img src="/image/bj.jpg" alt="">
  <h2></h2>
</div>