doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="author",content="yzdYZhadan")
    meta(name="keywords",content="博客,个人,技术,讨论")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")
    block css

    script(scr="")
  body
    include ./nav

    block contents

    include ./footer.pug

    block scripts